sudo: required
language: node_js
node_js:
  - "5.10.0"

install:
  - npm install

script:
  - npm test

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  provider: heroku
  api_key: $HEROKU_API_KEY
  app:
    dev: cidadedemocraticaapi-stagging
    master: cidadedemocraticaapi


notifications:
  slack: gpp-mds-grupo8:KU0OCURzUrokK90ypf1eU6OB
