language: node_js
node_js:
  - "5.10.0"

install:
  - npm install

script:
  - npm test

deploy:
    skip_cleanup: true

  - provider: heroku stagging
    api_key:
      secure: $HEROKU_API_KEY
    app: cidadedemocraticaapi-stagging
    on:
      branch: master

  - provider: heroku production
    api_key:
      secure: $HEROKU_API_KEY
    app: cidadedemocraticaapi
    on:
      tags: true
      branch: master
